form,
.resume-form {
    width: 80%;
    background-color: var(--colorBtn);
    border-radius: 20px;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.form-little-note {
    font-size: 0.8rem;
    font-style: italic;
}

.form-line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.form-column {
    display: flex;
    flex-direction: column;
}

.label-form {
    margin-right: 1rem;
}

.label-form,
.input-form,
.text-area-form,
.checkbox-form {
    font-family: var(--fontDefault);
    border: none;
    margin-bottom: 1rem;
}

.input-form,
.text-area-form {
    flex: 1;
    padding: 0.4rem 1rem;
    outline: none;
}

.input-form {
    border-radius: 50px;
}

.text-area-form {
    border-radius: 10px;
    resize: none;
    min-height: 200px;
}

.submit-div {
    align-self: flex-end;
    justify-self: flex-end;
    width: 15%;
    min-width: 100px;
    margin-top: 1rem;
    border-radius: 50px;
    overflow: hidden;
    background-color: var(--colorPrim);
    transition: transform 200ms;
}

.submit-btn {
    width: 100%;
    padding: 1rem 2rem;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-div:hover,
.btn-back:hover,
.btn-annulate:hover {
    transform: scale(1.05);
}

.submit-div:active,
.btn-back:active,
.btn-annulate:active {
    transform: scale(0.95);
}

.submit-text {
    margin-right: 0.4rem;
}

.resume-form,
.form-connexion {
    width: 50%;
    min-width: 300px;
    align-items: center;
    justify-content: center;
}

.resume-form h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.resume-form-list {
    display: flex;
    flex-direction: column;
}

.resume-form-list li {
    margin: 0.4rem;
    font-family: var(--fontDefault);
}

.btn-back {
    padding: 1rem 5rem;
    background-color: var(--colorPrim);
    color: #fff;
    border-radius: 50px;
    margin-top: 2rem;
    transition: transform 200ms;
}

.btn-div-connect {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.btn-connect {
    background-color: var(--colorValidate);
}

.btn-annulate {
    padding: 1rem 2rem;
    width: 15%;
    min-width: 100px;
    background-color: var(--colorAnnulate);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 1rem;
    margin-right: 1rem;
    transition: transform 200ms;
}

.errorMessage {
    color: var(--colorAnnulate);
}

